<nz-layout class="layout">
  <nz-header>
    <div class="logo">Ngx Recursive Form</div>
    <div class="github-link">
      <a href="https://github.com/hsbalar/ngx-recursive-form" target="_blank">
        <img src="assets/github.png" alt="" width="25px"
      /></a>
    </div>
  </nz-header>
  <nz-content style="padding: 50px 50px 0px 50px">
    <nz-layout style="padding: 24px 0; background: #fff">
      <nz-content style="padding: 0 24px; min-height: 280px">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <nz-footer style="text-align: center"
      >Made with <i class="anticon anticon-heart" style="color: red"></i> By
      Hitesh Balar</nz-footer
    >
  </nz-content>
</nz-layout>
