<nz-steps [nzCurrent]="current" nzSize="small">
  <nz-step
    nzTitle="JSON"
    nzIcon="anticon anticon-arrow-right"
    (click)="jsonEditorClick()"
  ></nz-step>
  <nz-step
    nzTitle="Form"
    nzIcon="anticon anticon-arrow-right"
    (click)="formEditorClick()"
  ></nz-step>
  <nz-step
    nzTitle="Value"
    nzIcon="anticon anticon-check"
    (click)="formValueClick()"
  ></nz-step>
</nz-steps>
<div class="content">
  <div [hidden]="current !== 0">
    <div class="editor config-editor">
      <strong><label for="">Form Schema JSON</label></strong>
      <div
        #editor
        class="json-content"
        ace-editor
        [text]="jsonString"
        [mode]="'json'"
        [theme]="'chrome'"
        [options]="aceOptions"
        [readOnly]="false"
        style="display: block; height: 80vh; width: 100%"
      ></div>
    </div>
    <div class="editor value-editor">
      <strong><label for="">Saved Form Value</label></strong>
      <div
        #editor
        class="json-content"
        ace-editor
        (editorRef)="editorRef($event)"
        [text]="valueString"
        [mode]="'json'"
        [theme]="'chrome'"
        [options]="aceOptions"
        [readOnly]="false"
        style="display: block; height: 80vh; width: 100%"
      ></div>
    </div>
  </div>
  <div *ngIf="current == 1">
    <form
      nz-form
      [nzLayout]="'verticle'"
      [formGroup]="form"
      (ngSubmit)="formValueClick()"
      *ngIf="form"
    >
      <ngx-recursive-form
        [form]="form"
        [formJson]="formJson"
      ></ngx-recursive-form>
      <br />
      <button nz-button type="submit">Submit</button>
    </form>
  </div>
  <div
    *ngIf="current == 2"
    class="json-content"
    style="padding: 10px 10px 0px 10px"
  >
    <pre>{{ form.value | json }}</pre>
  </div>
</div>
